
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Oswald&family=Roboto:wght@300&display=swap');


header{
    background-color: #748cab;
    padding: 1.5em;
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat;
  color: #112A46;
}
header div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
 header.cat{
    display: flex;
    justify-content: center;
 }

header h3{
    flex:wrap;
    justify-content:right;
    margin-left:60em;
}
li.nav{
    margin:1em;
    padding: 10px;
    background-color: #f0ebd8;
    border: 1px solid #748cab;
    border-style:ridge;
    border-radius: 20px;
    font-family: Montserrat;
    border-spacing: 1;
    display:inline-flex;
    justify-content: center;
    width: 100px;
    text-align:center;
}

header a{
    text-decoration: none;
    color:Black;
    
}


header li:hover{
    color:#748cab;
    transform: scale(1.1);
}
header a:hover{
    color:#748cab;
}

body{
    margin: 0;
    padding: 0;
    background-color:#f0ebd8;
}
h2{
    font-family: Montserrat;
    color:#3e5c76;
    display:flex;
    justify-content:center;
    margin-top: 1em;
}

.categ{
    background-color: #1d2d44;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:2em;
    transition: transform 0.4s ease;
    
}
.categ h2{
    color: #f0ebd8;
}
.categ a{
    text-decoration:none;
}

.categ:hover{
    transform:scale(1.1);
    background-color: #3e5c76;
}
body section{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding:2em;
}

.categ img{
    width: 100%;
}

footer{
    background-color:#748cab;
    padding:3em;
    text-align:center;
    margin-top:3em;
}

footer p{
    font-family: Montserrat;
    color:#112A46;
}

@media only screen and (max-width: 480px){
    header {
        padding: 1em; 
    }
    
    header div {
        flex-direction: column;
        align-items: center; 
    }
    ul{
        padding-inline-start:0;
    }
    
    header h3 {
        margin: 0; 
    }
    
    li.nav > a {
        width: 80px;
        justify-content: center;
    }
    h2{
        display: flex;
        text-align: center;
    }
    body section{ 
        flex-direction:column;
        text-align: center;
    }
}
@media only screen and (min-width:481px) and (max-width: 912px){
    header {
        padding: 1em; 
    }
    
    header div {
        flex-direction: column;
        align-items: center; 
    }
    ul{
        padding-inline-start:0;
    }
    
    header h3 {
        margin: 0; 
    }
    
    li.nav > a {
        width: 80px;
        justify-content: center;
    }
    h2{
        display: flex;
        text-align: center;
    }
    body section{ 
        flex-direction:column;
        align-items: center;
    }
    div.categ{
        width:80%;
    }
}